<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="small-hr pull-left">
        <div class="clearfix"></div>
        <h2 class="section-heading">
          Power to Grow
        </h2>
        <p class="lead">
          Many businesses fail by growing too fast and running out of capital.
          We can assist you through budgeting, forecasting, and cash flow
          analysis into the future.
        </p>
        <p class="lead">
          Let us maximize your efficiency and optimize profits through
          controlled growth.
          Strategic planning for the long term means more money.
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="inc/img/aicpa.png" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->