<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="small-hr pull-left">
        <div class="clearfix"></div>
        <h2 class="section-heading">
          Power to Change
        </h2>
        <p class="lead">
          Key performance indicators (KPIs) provide you with the numbers behind
          your business.
          From return on revenues to receivable turnover, we can tailor KPIs
          specifically to your industry and business, maximizing profitability
          and cash flow.
        </p>
        <p class="lead">
          Let employee performance reviews be about more than just performance.
          Measure your employees by the value they bring to your team.
        </p>
        <p class="lead">
          Our goal is the same as yours: maximize the value of your firm and
          the profit you take home.
        </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="inc/img/cpa-logo.png" style="max-height:40vh" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->