<a  name="services"></a>
<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="small-hr pull-left">
        <div class="clearfix"></div>
        <h2 class="section-heading">
          Power to Manage
        </h2>
        <p class="lead">
          Let us take care of the bookkeeping, payroll, and contract controller
          services, so you can spend your time where it's most valuable:
          managing your business. 
        </p>
        <p class="lead">
          As certified QuickBooks ProAdvisors, the accounting professionals at Bennett & Associates, CPAs specialize
          in providing the knowledge business owners need to manage and grow
          their business successfully.  Ranging from daily bookkeeping and
          payroll services, to in-depth business analysis with the use of key
          performance indicators and tax planning, our accountants have the
          skills required to help make your business successful.
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive center-block" style="max-height:400px" src="https://plugin-qbo.intuit.com/brand/1.0.2/product-specific-brand/assets/quickbooks-accountant/QuickBooks-ProAdvisor-Program/Logos/1_Badge_Online_large.png" alt="QuickBooks Certified ProAdvisor - QuickBooks Online Certification" border="0" />
      </div>
    </div>
  
  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->