<a  name="services"></a>
<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="small-hr pull-left">
        <div class="clearfix"></div>
        <h2 class="section-heading">
          Power to Manage
        </h2>
        <p class="lead">
          With our service options, you can choose a plan that puts the power back into your hands.
          We'll take care of the bookkeeping, payroll, and tax preparation. Manage your own business
          with our contract controller services.
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="inc/img/calculator.jpg" alt="">
      </div>
    </div>
  
  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->