<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="small-hr pull-left">
        <div class="clearfix"></div>
        <h2 class="section-heading">
          Power to Change
        </h2>
        <p class="lead">
          KPIs give you the numbers behind your business. We analyze your cash flow to give you
          cost-benefit analyses of your employees and clients. Employee performance reviews can be
          about more than just performance; measure your employees by the value they bring to your
          business.
        </p>
        <p class="lead">
          Meet one-on-one with a professional tax consultant to plan and structure your P&L. Our
          goal is the same as yours: maximize the value of your firm and the profit you take home.
        </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="inc/img/cpa-logo.png" style="max-height:40vh" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->