<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="small-hr pull-left">
        <div class="clearfix"></div>
        <h2 class="section-heading">
          Power to Grow
        </h2>
        <p class="lead">
          No one likes to see good numbers go down, but many businesses fail by growing too fast and
          running out of capital. We want to maximize your efficiency by reaching capacity without
          going too far. Controlled growth and planning for the long-term means more money
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="inc/img/phones.png" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->