<div class="container text-container page-content">
  <div class="table-responsive">
    <table class="table table-striped table-borderless">
      <thead>
        <tr>
          <th></th>
          <th class="text-center">
            <h4>
              Monthly Accounting
            </h4>
          </th>
          <th class="text-center">
            <h4>
              Weekly Accounting<br>
              + Payroll
            </h4>
          </th>
          <th class="text-center">
            <h4>
              Daily<br>
              "Contract Controller"
            </h4>
          </th>
        </tr>
      </thead>
      
      <!-- financials -->
      <thead>
        <tr class="table-subheader">
          <th colspan="4"><h5>Financial Statement Preparation (Unaudited)</h5></th>
        </tr>
      </thead>
      <tbody>
        <div>
          <tr ng-repeat="i in svcTblItems" ng-if="i.cat === 'financials'">
            <td>{{ i.name }}</td>
            <td class="text-center"><div ng-if="i.lv1"><i class="fa fa-check"></i></i></div></td>
            <td class="text-center"><div ng-if="i.lv2"><i class="fa fa-check"></i></i></div></td>
            <td class="text-center"><div ng-if="i.lv3"><i class="fa fa-check"></i></i></div></td>
          </tr>
        </div>
      </tbody>
      
      <!-- tax -->
      <thead>
        <tr class="table-subheader">
          <th colspan="4"><h5>Tax Preparation</h5></th>
        </tr>
      </thead>
      <tbody>
        <div>
          <tr ng-repeat="i in svcTblItems" ng-if="i.cat === 'tax'">
            <td>{{ i.name }}</td>
            <td class="text-center"><div ng-if="i.lv1"><i class="fa fa-check"></i></div></td>
            <td class="text-center"><div ng-if="i.lv2"><i class="fa fa-check"></i></div></td>
            <td class="text-center"><div ng-if="i.lv3"><i class="fa fa-check"></i></div></td>
          </tr>
        </div>
      </tbody>
      
        <!-- bookkeeping -->
      <thead>
        <tr class="table-subheader">
          <th colspan="4"><h5>Bookkeeping</h5></th>
        </tr>
      </thead>
      <tbody>
        <div>
          <tr ng-repeat="i in svcTblItems" ng-if="i.cat === 'bookkeeping'">
            <td>{{ i.name }}</td>
            <td class="text-center"><div ng-if="i.lv1"><i class="fa fa-check"></i></div></td>
            <td class="text-center"><div ng-if="i.lv2"><i class="fa fa-check"></i></div></td>
            <td class="text-center"><div ng-if="i.lv3"><i class="fa fa-check"></i></div></td>
          </tr>
        </div>
      </tbody>
      
      <!-- payroll -->
      <thead>
        <tr class="table-subheader">
          <th colspan="4"><h5>Payroll</h5></th>
        </tr>
      </thead>
      <tbody>
        <div>
          <tr ng-repeat="i in svcTblItems" ng-if="i.cat === 'payroll'">
            <td>{{ i.name }}</td>
            <td class="text-center"><div ng-if="i.lv1"><i class="fa fa-check"></i></div></td>
            <td class="text-center"><div ng-if="i.lv2"><i class="fa fa-check"></i></div></td>
            <td class="text-center"><div ng-if="i.lv3"><i class="fa fa-check"></i></div></td>
          </tr>
        </div>
      </tbody>
      
      <!-- unlimitedTax -->
      <thead>
        <tr class="table-subheader">
          <th colspan="4"><h5>Unlimited Tax Planning/Consulting</h5></th>
        </tr>
      </thead>
      <tbody>
        <div>
          <tr ng-repeat="i in svcTblItems" ng-if="i.cat === 'unlimitedTax'">
            <td>{{ i.name }}</td>
            <td class="text-center"><div ng-if="i.lv1"><i class="fa fa-check"></i></div></td>
            <td class="text-center"><div ng-if="i.lv2"><i class="fa fa-check"></i></div></td>
            <td class="text-center"><div ng-if="i.lv3"><i class="fa fa-check"></i></div></td>
          </tr>
        </div>
      </tbody>
      
      <!-- analytics -->
      <thead>
        <tr class="table-subheader">
          <th colspan="4"><h5>Financial Analysis/Insights via Monthly Meeting with Management</h5></th>
        </tr>
      </thead>
      <tbody>
        <div ng-if="showSvcTblCats.analytics">
          <tr ng-repeat="i in svcTblItems" ng-if="i.cat === 'analytics'">
            <td>{{ i.name }}</td>
            <td class="text-center"><div ng-if="i.lv1"><i class="fa fa-check"></i></div></td>
            <td class="text-center"><div ng-if="i.lv2"><i class="fa fa-check"></i></div></td>
            <td class="text-center"><div ng-if="i.lv3"><i class="fa fa-check"></i></div></td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
</div>